/* Colors */
$orange: #EB610A;
$lighterOrange: #FFE6D7;
$lightOrange: #FFB49E;
$poopOrange: #af551c;
$black: #424242;
$white: #FFFFFF;
$bgOffset: #F8F8F8;
$bgOffsetDarker: #f5f5f5;
$offsetWhite: #F5F3F3;
$lighterGrey: #f1f1f1;
$lightGrey: #d6d6d6;
$grey: #a5a5a5;
$navGrey: #6F6F6F;
$darkGrey: #787878;
$darkerGrey: #46494A;
$deepGrey: #373737;

/* Type */

/* Widths */
$xsm-width: 320px;
$sm-width: 640px;
$mid-width: 1300px;


/* Margins & Paddings */
$sm-pdd: 20px;
$sm-mgn-tp: 90px;