.explanation-block {
    background-color: $orange;
    margin: 120px 0 30px;
    .explanation-block-inner {

        margin: 65px 0 0;

        .section-title {
            padding: 0 $sm-pdd;
            color: $white;
            font-weight: 600;

            @media (min-width: $mid-width) {
                padding: 0;
            }

            &::after {
                background-color: $white;
            }
        }

        .section-description {
            padding: 0 $sm-pdd;
            .section-description-inner {
                p {
                    font-weight: 400;
                    color: $white;
                }
            }
        }

        .explanation-dots-wrap {
            position: relative;
            margin: 70px 0 100px;

            @media (max-width: $sm-width) {
                margin: 30px 0 100px;
            }
            .exp-dot-wrap {
                display: flex;
                flex-direction: column;
                margin: 0 30px;
                z-index: 1;

                @media (max-width: $sm-width) {
                    padding: 20px 0;
                    &:last-child {
                        margin-right: 30px !important;
                    }
                }

                .exp-circle {
                    width: 112px;
                    height: 112px;
                    background-color: $white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    /*opacity: 0;
                    transform: scale(0.5);
                    -webkit-transform: scale(0.5);
                    -moz-transform: scale(0.5);*/
                    p, .fa-font-awesome-flag {
                        align-self: center;
                        color: $orange;
                        font-weight: 500;
                        font-size: 40px;
                    }
                }
                .exp-text {
                    margin: 30px 0 0;
                    width: 190px;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    /*opacity: 0;
                    transform: scale(0.5);
                    -webkit-transform: scale(0.5);
                    -moz-transform: scale(0.5);*/
                    h5 {
                        font-size: 19px;
                        text-transform: none;
                        font-weight: 400;
                        text-align: center;
                        line-height: normal;
                    }

                    @media (max-width: $sm-width) {
                        margin: 10px 0 0 ;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .exp-linethrough {
                width: 73%;
                height: 1px;
                position: absolute;
                background-color: $white;
                top: 56px;
                z-index: 0;
                //opacity: 0;

                @media (max-width: $mid-width) {
                    width: 65%;
                    right: 180px;
                }
            }
        }
    }

}