.time-membership-block {
    .time-membership-block-inner {
        margin: 40px 0;
        padding: 0 $sm-pdd;

        @media (min-width: $mid-width) {
            padding: 0;
        }

        .concept-cards-wrap {

            .picked-border {
                border: 2px solid $orange;
            }

            .concept-card {
    
                background: rgba(255, 255, 255, 0.95);
                box-shadow: 0px 4px 4px rgba(193, 193, 193, 0.25);

                position: relative;
                //opacity: 0;
    
                .concept-p {
                    // KK
                    margin: 5px 0;
                    line-height: 24px;
    
                    .orange-bolded {
                        color: $orange;
                        font-weight: 600;
                    }
                }

                .concept-card-days-holder {
                    width: 100%;
                    display: flex;
                    position: absolute;
                    top: -55px;
                    justify-content: center;

                    @media (max-width: $sm-width) {
                        top: -64px;
                    }
                    
                    .concent-card-days {
                        background-color: white;
                        border-radius: 50px;
                        //filter: drop-shadow(0px 4px 4px rgba(197, 197, 197, 0.25));
                        box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
                        height: 110px;
                        display: flex;

                        @media (max-width: $sm-width) {
                            height: 125px;
                            border-radius: 50%;
                        }

                        .concept-days-heading {
                            font-weight: 700;
                            text-transform: none;
                            font-style: normal;
                            font-size: 44px;
                            text-align: center;
                            line-height: normal;
                            width: 110px;
                            align-self: center;

                            @media (max-width: $sm-width) {
                                width: 125px;
                                font-size: 47px;
                            }
                        }
                    }

                    .picked-bg {
                        background-color: $orange;
    
                        h2 {
                            color: $white;
                        }
                    }
                }

                .concept-subheading {
                    margin: 70px 20px 0;
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        margin: 0;
                        padding: 0;
                        line-height: normal;
                    }
                }

                .concept-card-excerpt {
                    display: flex;
                    margin: 20px 20px 0;
                    height: 128px;

                    @media (max-width: $sm-width) {
                        height: auto;
                    }

                    p {
                        font-style: italic;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                    }
                }

                .concept-card-checklist {
                    margin: 0 20px 20px;
                    height: 500px;

                    @media (max-width: $sm-width) {
                        height: auto;
                    }
                    ul {
                        padding: 0;
                        margin: 20px;
                        li {
                            margin: 0;
                            padding: 0;
                            line-height: normal;
                        }
                    }
                }

                .concept-card-price {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    margin: 40px 0;
                }
            }

            .concept-card-picked-wrap {
                background-color: $orange;
                h3 {
                    color: $white;
                    font-weight: 700;
                    font-size: 21px;
                    line-height: normal;
                    margin: 8px;
                }
            }
        }
    }
}